:root {
    --amarelo-principal:#FFE670;
    --amarelo-escuro:#FFD570;
    --laranja-principal:#FFC370;
    --laranja-escuro:#FFAB70;
    --vermelho:#FF9270;
    --bege:#FFE7C5;
    --branco:#FFFFFF;
    --fonte-principal:"PT Serif"
    }
    
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        background-color:var(--laranja-principal);
        color:var(--branco);
        font-family:var(--fonte-principal);
        font-size: 16px;
        font-weight: 400;
    }

    .container{
        height:100vh;
        display: grid;
        grid-template-columns: 50% 50%;
    }    
h1{
    font-size: 28px;
    text-align: center;
    width: 588px;
}

.container__botao{
    background-color:var(--amarelo-escuro);
    border-radius: 20px;
    padding: 1em;
    color: var(--branco);
    display: block;
    text-decoration-line: none;
    text-align: center;
}

.container__avião{
    size: auto;
}

.container__aviso{
    color: black;
}

.combo{
    
    border-radius: 20px;
    padding: 1em;
    background-color:var(--laranja-principal);
    text-decoration-line: none;
    text-align: center;
}